{{yield}}

<div id="comments">
	{{input type="text" value=name placeholder="Your name"}}
	{{input type="text" value=email placeholder="Your email"}}
	{{input type="textarea" value=comment placeholder="Did you enjoy the post?... please let me know... seriously...."}}
</div>
