<div class="row">
<div class="large-12 columns">
<ul class="right button-group">
<li>{{#link-to 'posts'}} Posts {{/link-to}}</li> | 
<li>{{#link-to 'projects'}} Projects {{/link-to}}</li> | 
<li>{{#link-to 'contact'}} Contact {{/link-to}}</li>
</ul>
</div>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<img src="/assets/images/face1.png" class="circle_image"/>
		<h1> Markhayn.es </h1>
		<h2> Blog about all things www </h2>
	</div>
</div>
<hr/>
{{outlet}}

<footer>
copyright markhayn.es
</footer>
