<div class="row">
<div class="large-12 columns">
    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-clearing>
      {{#each model as |post| }}
      <li>
        {{article-widget title = post.title id = post.id link = 'post'}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
